boto3==1.13.16
botocore==1.16.16
chardet==3.0.4
colorama==0.2.7
dj-database-url==0.5.0
Django==2.2.24
django-forms-bootstrap==3.1.0
django-storages==1.9.1
docutils==0.15.2
gunicorn==19.7.1
html5lib==0.999999999
jmespath==0.9.5
olefile==0.46
Pillow==7.1.2
psycopg2==2.8.5
pytz==2017.3
s3transfer==0.3.3
six==1.5.2
stripe==2.48.0
