/* ------------------------------------- Special stylings --------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

p {
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

a {
  text-decoration: none !important;
}

ul, li {
  list-style-type: none;
}

ul {
  margin: 0;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------------------------- Navigation ---------------------------------- */

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.logo-image {
  width: 90px;
  height: 60px;
  margin-top: -10px;
}

/* ----------------------------------------------- Main content ---------------------------- */

.content-section {
  background: #ffffff;
  padding: 0.625rem 1.25rem;
  border: 0.0625rem solid #dddddd;
  border-radius: 0.1875rem;
  margin-bottom: 1.25rem;
}


/* ----------------------------------------------- Forum Templates Styling---------------------------------- */

.postdate {
  text-align: center;
}

.posttitle {
  font-size: 3em;
  text-align: center;
}

.postcontent {
  font-size: 1.5em;
}

.centerstage {
    margin-left: auto;
    margin-right: auto;
}

.btn-comment {
  position: absolute;
  right: 0px;
}

.save,
.btn-comment {
  margin-bottom: 150px;
}

/* -------------------------------------------------Footer------------------------------------------------- */

.footer {
  width: auto;
  background-color: black;
  bottom: 0;
  margin-top: 150px;
  position: relative;
  text-align: center;
  line-height: 10%;
  height: 6.25rem;
}

.footer__copyright {
  color: white;
  line-height: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.25rem;
}

.footer__copyright a {
  color: white;
  margin-left: 0.625rem;
}

/* ---------------------------------- Media Queries ------------------- */

@media (min-width: 768px) and (max-width: 4000px) {
  .footer {
    width: 100%;
  }
}
