/* ------------------------------------------------- Profile --------------------------- */

.account-img {
  height: 7.8125rem;
  width: 7.8125rem;
  margin-right: 1.25rem;
  margin-bottom: 1rem;
}

.account-heading {
  font-size: 2.5rem;
}

.img-profile {
  margin-left: 40%;
}

.media-body {
  margin-top: 9.375rem;
  margin-left: -60%;
  max-width: 100%;
  text-align: center;
}

