{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<!-- Page Header -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="www.silverheath.co.uk" />    
	<meta name="description" content="Phone Shop">
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Document title -->
    <title>Silverheath Phones</title>
    
<!-- Stylesheets & Fonts -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
</head>
<body>
<!-- Body Inner -->
    <div class="body-inner">

<!-- Navbar Start -->
    {% include 'navbar.html' %} 
<!-- Navbar End -->

<!-- Alerts Start -->
{% include 'alerts.html' %} 
<!-- Alerts End-->

<!-- Main content start -->
    <div class="container">
        {% block content %} {% endblock %}
    </div>
<!-- Main content start -->

<!-- Start Footer -->
  {% include 'footer.html' %}
<!-- End Footer -->

<!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
 
    </div>
</body>

</html>