{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<!-- Page Header -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="www.silverheath.co.uk" />    
	<meta name="description" content="Phone Shop">
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Document title -->
    <title>Silverheath Phones</title>
    
<!-- Stylesheets & Fonts -->

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">

  <!-- Load main css file -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom/main.css' %}">


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
   
</head>
<body>
<!-- Body Inner -->
    <div class="body-inner">

<!-- Navbar Start -->
    {% include 'navbar.html' %} 
<!-- Navbar End -->

<!-- Alerts Start -->
{% include 'alerts.html' %} 
<!-- Alerts End-->

<!-- Main content start -->
    <div class="container">
        {% block content %} {% endblock %}
    </div>
<!-- Main content start -->

<!-- Start Footer -->
  {% include 'footer.html' %}
<!-- End Footer -->

<!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
 
    </div>
</body>

</html>