{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<!-- Page Header -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="www.silverheath.co.uk" />    
	<meta name="description" content="Phone Shop">
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Document title -->
    <title>Silverheath Phones</title>
    
<!-- Stylesheets & Fonts -->

<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />


<!-- Custom JS -->
 
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
   
</head>
<body>
<!-- Body Inner -->
    <div class="body-inner">

<!-- Navbar Start -->
    {% include 'navbar.html' %} 
<!-- Navbar End -->

<!-- Alerts Start -->
{% include 'alerts.html' %} 
<!-- Alerts End-->

<!-- Main content start -->
    <div class="container">
        {% block content %} {% endblock %}
    </div>
<!-- Main content start -->

<!-- Start Footer -->
  {% include 'footer.html' %}
<!-- End Footer -->

<!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
 
    </div>
</body>

</html>